body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.clr{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding-right: 15%;
}
.half img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,tomato);
    color: white;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 5px;
}
.banner{
    background-image: url(food-network-main/images/shapes/top-banner.png);
    background-repeat: no-repeat;
    text-align: center;
}
.me{
    background-image: url(food-network-main/images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    text-align:center;
}
p{
    font-size: 20px;
}
.platter{
    display:flex;
}
.platter img{
    width: 80%;
}
.recipe{
    display:initial;
    width: 33%;
    box-shadow: 10px 20px 30px rgb(19, 17, 17);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt{
    text-align: center;
}
.repe{
    width: 100%;
    border-radius: 20px;
    image-orientation: inherit;
}
.ad{
    display:initial;
}